body {
    margin: 0;
    font-family: Arial;
    color: white;
    overflow: hidden;
}

.split {
    height: 100%;
    width: 65%;
    position: fixed;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: #D09CFA;
}

.menu {
    max-width: 250px;
    max-height: 250px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px black);
}

.menu:hover {
    scale: 1.1;
}

.description {
    color: #FFFFD0;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 2vw;
    width: 50vw;
    margin-top: 50vw;
    margin-left: 5vw;
}

.image1 {
    margin: auto;
    border-radius: 50%;
}

#setting {
    left: -4%;
    top: -4%;
}

#image2 {
    left: 23%;
    top: 30%;
}

#image3 {
    left: -4%;
    top: 75%;
}

.icons {
    margin: auto;
    width: 10vw;
}

svg {
    transition: 0.5s;
}